$color-primary: #212220;
// $color-primary: #ffffff;

$font-color: #fff;
// $font-color: #000;
$font-color-black: #000;

$el-menu-bg:#000;
// $el-menu-bg:#fff;

 $el-menu-hover:#009688;

$el-dropdown:#606266;
// $el-dropdown:#000;

$content-container:#efefef;
// $content-container:#EFEFEF;

$toolbar:#fff;
// $toolbar:#ccc;

$el-table--group:#ebeef5;
// $el-table--group:#EFEFEF;

$el-table:#fff;
// $el-table:#CCC;

//$table-00:rgb(102, 102, 102);
 $table-00:#fff;


$table-hover:#ebeef5;
// $table-hover:#ccc;

$table-11:rgb(85, 85, 85);
// $table-11:#EFEFEF;

 //$current-row:rgb(0, 187, 238);
//$current-row:#fff;
 $current-row:none;

//黑色主题专属
$current-row-color:#000;

//废弃
 $isEdited:rgb(23, 238, 133);
 $isEdited:#ccc;